@charset "utf-8";

body {
  color: #333;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
}

.site {
  padding-top: 5.2rem;
}

.header {
  text-align: center;
}

a, a:hover {
  color: #4078c0;
}

ul {
  padding-top: 5px;
}

.navigation {
  background: #f4f5f6;
  border-bottom: .1rem solid #d1d1d1;
  display: block;
  height: 5.2rem;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;

  .container {
    padding-bottom: 0;
    padding-top: 0;
  }

  .share-button {
    display: inline;
    position: relative;
    top: .5rem;
    display: inline;
    line-height: 5.2rem;
  }

  .contribute-link {
    display: inline;
    position: relative;
    top: .5rem;
    display: inline;
    line-height: 3.2rem;
    float: right;
  }

  .fb_iframe_widget span {
    vertical-align: baseline !important;
  }
}

blockquote.twitter-tweet {
  display: inline-block;
  padding: 16px;
  margin: 10px 0;
  max-width: 468px;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
}

.youtube {
  text-align: center;
}

blockquote.twitter-tweet p {
  font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0;
}

a.anchorjs-link {
  font-size: 1.3em !important;
}
