@charset "utf-8";

body {
  color: #333;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
}

.wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.header {
  padding-top: 1rem;
}

.header .container {
  border-top: 0;
  padding-top: 7.5rem;
  position: relative;
  text-align: center;
}

a, a:hover {
  color: #4078c0;

  &.anchor-link {
    display: block;
    position: relative;
    top: -5rem;
    visibility: hidden;
  }
}

p.anchor-wrapper {
  text-align: center;
  vertical-align: middle;
}
.row .column.column-narrow {
  flex: 0 0 1%;
  max-width: 1%;
}

@media (max-width: 40rem) {
   .row .column.column-narrow {
      display: none;
   }
}

.navigation {
  background: #f4f5f6;
  border-bottom: .1rem solid #d1d1d1;
  display: block;
  height: 5.2rem;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;

  .container {
    padding-bottom: 0;
    padding-top: 0;
  }

  .share-button {
    display: inline;
    position: relative;
    top: .5rem;
    display: inline;
    line-height: 5.2rem;

    img {
      width: 76px;
      height: 28px;
    }
  }

  .contribute-link {
    display: inline;
    position: relative;
    top: .5rem;
    display: inline;
    line-height: 3.2rem;
    float: right;
  }

  .fb_iframe_widget span {
    vertical-align: baseline !important;
  }
}

blockquote.card {
  display: inline-block;
  padding: 16px;
  margin: 10px 0;
  max-width: 468px;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;

  & p {
    font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
    margin: 0 5px 10px 0;
  }
}

div.card {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 16px;
  margin: 10px 0;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  color: #4078c0;
  text-align: center;
  font-weight: bold;

  &:hover {
    border: #4078c0 1px solid;
  }
}

a.card-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.row .column.crazy, .row .column.reality {
  margin-bottom: 1rem;
}

.avatar {
  border-radius: 50%;
  width: 96px;
  height: 96px;
}

.youtube {
  text-align: center;
}

a.anchorjs-link {
  font-size: 1.3em !important;
}
