<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <main class="wrapper">
      <nav class="navigation">
        <section class="container">
          <div class="share-button">
          <a class="twitter-share-button"
            target="_blank"
            href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fwww.atweetforeveryoccasion.com%2F&ref_src=twsrc%5Etfw&text=A%20Tweet%20for%20Every%20Occasion&tw_p=tweetbutton&url=https%3A%2F%2Fwww.atweetforeveryoccasion.com%2F">
            <img src="/assets/tweet.png" />
          </a>
          </div>
          <div class="share-button">
          <a class="fb-share-button"
            target="_blank"
            href="https://www.facebook.com/sharer/sharer.php?app_id=173651379505433&kid_directed_site=0&sdk=joey&u=https%3A%2F%2Fwww.atweetforeveryoccasion.com%2F&display=popup&ref=plugin&src=share_button">
            <img src="/assets/share.png" />
          </a>
          </div>
          <div class="contribute-link">
            <a href="https://github.com/gjtorikian/atweetforeveryoccasion.com/blob/gh-pages/CONTRIBUTING.md">Help contribute!</a>
          </div>
        </section>
      </nav>
      <header class="header">
        <section class="container">
          <h1 class="title">A Tweet for Every Occasion</h1>
          <p class="description">
            Given that <a href="http://www.slate.com/articles/news_and_politics/jurisprudence/2017/06/the_9th_circuit_just_decreed_that_trump_s_twitter_feed_must_be_taken_seriously.html">tweets are considered official presidential statements</a>,
            it seems fitting to contrast 45's preferred method of communication against his hypocritical actions.
            Many thanks to <a href="https://twitter.com/ananavarro/status/866276121427488768" target="_blank"><strong>@ananavarro</strong></a> and <a href="https://www.reddit.com/r/TrumpCriticizesTrump" target="_blank">/r/TrumpCriticizesTrump</a> for the inspiration.
          </p>
          </div>
        </div>
        </section>
      </header>
      <section class="container" >
        {{ content }}
      </section>
    </main>
  </body>

</html>
