<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <nav class="navigation">
      <section class="container">
        <div class="share-button">
        <a class="twitter-share-button"
          href="https://twitter.com/intent/tweet?text=A%20Tweet%20for%20Every%20Occasion"
          data-size="large">
        Tweet</a>
        </div>
        <div class="contirbute-link">
          <a href="https://github.com/gjtorikian/atweetforeveryoccasion.com/CONTRIBUTING.md">Help contribute!</a>
        </div>
      </section>
    </nav>

    <main class="site">
      <div class="container" aria-label="Content">
        <div class="header">
          <h1>A Tweet for Every Occasion</h1>
        </div>
        <div class="row">
          <div class="column">
            <p>
              Given that <a href="http://www.slate.com/articles/news_and_politics/jurisprudence/2017/06/the_9th_circuit_just_decreed_that_trump_s_twitter_feed_must_be_taken_seriously.html">tweets are considered official presidential statements</a>, it seems fitting to contrast 45's preferred method of communication against his hypocritical actions.
            </p>
          </div>
        </div>
        {{ content }}
      </div>
    </main>

    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>

</html>
